@font-face {
   font-family: fonteOficial;
   src: url(../fonts/alexisv3.ttf);
}

body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
/*    opacity: 0.6;*/
}

.entrar{
  /*margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;*/
  margin-top: 10%;
  float: right;
  margin-right: 70px;
  
  max-width: 400px;
  max-height: 500px;
  border-radius: 5px;
}

.somos{
  text-align: center;
  font-family: 'fonteOficial';
  font-size: 20pt;
  color: #fff;  
}

#logo_maior{
  max-width: 200px;
}

#divLogo{
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}


div.btn{
  max-width: 150px;
  margin-left: 15px;

}