
@font-face {
   font-family: fonteLogo;
   src: url(../fonts/alexisv3.ttf);
 }


/*
//
Códigos gerais
//
*/
body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }

/*Classe padrão do Bootstrap para Divs*/
.container-fluid {
      padding: 60px 50px;
  }

/*Títulos*/
h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

  .fundo_cinza {
      background-color: #f6f6f6;
  }

  /*Efeito deslizante nos itens da página com a classe esconderSlide
  com JavaScript quando desliza a página ai muda para a classe .slide*/
  .esconderParaDeslizar {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .icone-maior {
        font-size: 150px;
    }
  }

/*
Fim dos Códigos gerais
*/

/*
//
Topo da Página
//
*/

.jumbIndex {
  background-color: #0049B0;
  color: #fff;
  padding-top: 59px;
  font-family: Montserrat, sans-serif;
}

.jumbGuia{
  background-color: #556B2F;
  color: #fff;
  padding-top: 59px;
  font-family: Montserrat, sans-serif;
}

p#textoLogo{
  margin: 0px !important;
  font-size: 17px;
}

img#logo_maior{
  max-width: 200px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0,5s;
}

img#logo_maior_guia{
  max-width: 150px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0,5s;
}

img#logo_menu{
  margin-top: -5px;
  max-width: 100px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
  /*Menu de navegação*/

.navbar-brand{
 font-family: 'fonteLogo'; 
}

  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .navbarIndex{
    background-color: #0049B0;
  }

  .navbarGuia{
    background-color: #556B2F;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

  /*Quando o mouse passar por cima ai muda de cor :hover*/
  .navIndex li a:hover, .navIndex li.active a {
      color: #0049B0 !important;
      background-color: #fff !important;
  }

  .navGuia li a:hover, .navGuia li.active a {
      color: #556B2F !important;
      background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

/*
Fim do Menu
*/
#modalLogin{
  z-index: 99999;
  
}

.divGifModal{
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#gifModal{
  max-width: 180px;
}

.modal-dialog{
  max-width: 500px;
  margin-top: 20px;
}

.modal-header, h4#modalTitulo, .close {
      background-color: #3179B5; /*213073*/
      color:white !important;
      text-align: center;
      font-size: 25px;
}

.modal-footer {
  background-color: #f9f9f9;
}

h4#modalTitulo{
  margin-top: 10px;
  margin-bottom: 10px;
}


/*
//
Seção SOBRE
//
*/

/*Não tem códigos ainda pois, os que afetam ela estão na parte dos gerais*/

/*
Fim da Seção SOBRE
*/



/*
// 00A3FF
Seção SERVIÇOS
//
*/
  .icone-maior {
      color: #20C4A4;
      font-size: 200px;
  }

  .icone-maior-guia {
    color: #556B2F;
    font-size: 200px;
  }

  .icone-menor {
      color: #00A3FF;
      font-size: 50px;
  }

  .icone-menor-guia {
      color: #556B2F;
      font-size: 50px;
  }

  .icone-menor-list {
      color: #000;
      font-size: 50px;
  }

  .icone-menor-s2 {
      color: #A52A2A;
      font-size: 50px;
  }
/*
Fim da Seção SERVIÇOS
*/


/*
//
Seção PORTFOLIO
//
*/


  /*:hover significa quando o mouse passar por cima*/
  .portfolio:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .portfolio{
    border: 1px solid #0049B0;
    border-radius: 10px;
    transition: box-shadow 0.5s;

  }
  .portfolio p{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio .btn{
    background-color: #0049B0;
    color: #fff;
    margin-bottom: 20px;
  }

  .portfolio .btn:hover{
    border: 1px solid #0049B0;
    background-color: #fff !important;
    color: #0049B0 !important;
  }

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }


  /*Estilo para Carousel*/
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #20C4A4;
  }
  .carousel-indicators li {
      border-color: #20C4A4;
  }
  .carousel-indicators li.active {
      background-color: #20C4A4;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }

/*
Fim da Seção PORTFOLIO
*/


/*
//
Seção PREÇOS
//
*/

  /*Estilo para os paineis com os preços*/
  /*A classe .panel-heading é padrão do Bootstrap*/
/*Efeitos particulares para pacote 90 dias*/
  .panelPacote30dias{
    border: 1px solid #20C4A4;
  }

  .pacote30dias{
     background-color: #20C4A4 !important;
  }

  .footerPacote30dias .btn {
      margin: 15px 0;
      background-color: #20C4A4;
      color: #fff;
  }

  .footerPacote30dias .btn:hover {
      border: 1px solid #20C4A4;
      background-color: #fff !important;
      color: #20C4A4;
  }

/*Efeitos particulares para pacote 90 dias*/
  .panelPacote90dias{
    border: 1px solid #6B8E23;
  }

  .pacote90dias{
    background-color: #6B8E23 !important;
  }

  .footerPacote90dias .btn {
      margin: 15px 0;
      background-color: #6B8E23;
      color: #fff;
  }

  .footerPacote90dias .btn:hover {
      border: 1px solid #6B8E23;
      background-color: #fff !important;
      color: #6B8E23;
  }

/*Efeitos particulares para pacote 180 dias*/
  .panelPacote180dias{
    border: 1px solid #006400;
  }

  .pacote180dias{
     background-color: #006400 !important;
  }

  .footerPacote180dias .btn {
      margin: 15px 0;
      background-color: #006400;
      color: #fff;
  }

  .footerPacote180dias .btn:hover {
      border: 1px solid #006400;
      background-color: #fff !important;
      color: #006400;
  }

/*Efeitos particulares para pacote 360 dias*/
  .panelPacote360dias{
    border: 1px solid #FF8C00;
  }
  .pacote360dias{
     background-color: #FF8C00 !important;
  }

   .footerPacote360dias .btn {
      margin: 15px 0;
      background-color: #FF8C00;
      color: #fff;
  }

  /*aqui quando o mouse passar por cima do botão*/
  .footerPacote360dias .btn:hover {
      border: 1px solid #FF8C00;
      background-color: #fff !important;
      color: #FF8C00;
  }


  .panel {
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }

  /*:hover significa quando o mouse passar por cima*/
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  
  .tituloPanel {
      color: #fff !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
 

/*
Fim da Seção PREÇOS
*/



/*
//
Seção CONTATO
//
*/

/*Não tem códigos ainda pois, os que afetam ela estão na parte dos gerais*/

/*
Fim da Seção CONTATO
*/



/*
//
Seção Rodapé
//
*/

footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #20C4A4;
  }

img#gifFooter{

}

/*
Fim da Seção Rodapé
*/
  

/*
//
Página GUIA
//
*/
.containerGuia{
  
}

.panel-default{
  transition: box-shadow 0.5s;
}


.tituloExame{
  cursor: pointer;
  background-color: #4682B4!important; /*4682B4*/
  color: #fff!important;
  /*border-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;*/
}


.panel-exame {
  border-radius:5px !important;
  transition: box-shadow 0.5s;
  border-color: #4682B4;
  margin-bottom: 10px!important;
}

.panel-exame:hover {
  box-shadow: 5px 0px 40px #696969;
}


.panel-planos {
  border-radius:5px !important;
  transition: box-shadow 0.5s;
  margin-bottom: 10px!important;
}

.panel-planos:hover {
  box-shadow: 5px 0px 40px #696969;
}

.panel-planoMensal{
  border-color: #20C4A4;
}.panel-plano90{
  border-color: #6B8E23;
}.panel-plano180{
  border-color: #006400;
}.panel-plano360{
  border-color: #FF8C00;
}

.tituloPlano-Mensal{
  cursor: pointer;
  background-color: #20C4A4!important;
  color: #fff!important;
}

.tituloPlano-90Dias{
  cursor: pointer;
  background-color: #6B8E23!important;
  color: #fff!important;
}

.tituloPlano-180Dias{
  cursor: pointer;
  background-color: #006400!important;
  color: #fff!important;
}

.tituloPlano-360Dias{
  cursor: pointer;
  background-color: #FF8C00!important;
  color: #fff!important;
}

.panel-planoMensal .btn{
  background-color: #20C4A4;
  color: #fff;
}.panel-plano90 .btn{
  background-color: #6B8E23;
  color: #fff;
}.panel-plano180 .btn{
  background-color: #006400;
  color: #fff;
}.panel-plano360 .btn{
  background-color: #FF8C00;
  color: #fff;
}

.panel-planoMensal .btn:hover {
      border: 1px solid #20C4A4;
      background-color: #fff !important;
      color: #20C4A4;
}.panel-plano90 .btn:hover {
      border: 1px solid #6B8E23;
      background-color: #fff !important;
      color: #6B8E23;
}.panel-plano180 .btn:hover {
      border: 1px solid #006400;
      background-color: #fff !important;
      color: #006400;
}.panel-plano360 .btn:hover {
      border: 1px solid #FF8C00;
      background-color: #fff !important;
      color: #FF8C00;
}


.setaPlanos{
  margin: 0px;

}

.textoAccordion{
  margin: 0px;
}

.beneficiosPlanos{
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: #818181;
  border-radius:5px !important;

}

.recuo{
  text-indent:4em;
}

span.glyphicon-ok{
  color: #4AAE52;
}

div#divGif{
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*
//
FIM Página GUIA
//
*/